@charset "utf-8";

.dropdown-cols-2 {
    .dropdown-menu {
    min-width: 400px;
    & > div {
    float: left;      
    padding: 10px 20px;  
    }
    ul {
    margin: 0;  
    padding: 0; 
    }
    li {
    list-style: none;
    }      
}  
@media screen and (max-width: 767px) {
    .dropdown-menu {
    min-width: 140px;
    }
}
}